{% extends 'base.html' %}



{% block head %}

<title>Unauthorized Access</title>

{% endblock %}



{% block body %}


<div class="forpadding">

    <!-- for box of the signup form -->
    <div class="sign">
        <div>
            <p class="fortitle">
                Unauthorized Access!! Error 404
            </p>
            <hr>

            <div>
                <br>
                <br>
                <center>
                    <div style="text-align: center;
                    font-size: medium;
                    font-weight: 500;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                        <a href="/login">Sign In >></a>
                    </div>
                </center>
            </div>
            <div>
                <center>
                    <br>
                    <br>
                    <div style="text-align: center;
                    font-size: medium;
                    font-weight: 500;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">
                        <a href="/signup">Sign Up >></a>
                        <br>
                        <br>
                    </div>
                </center>
            </div>

            <br>

        </div>

    </div>
</div>

{% endblock %}