{% extends 'base.html' %}



{% block head %}

<title>
    Tickets
</title>



{% endblock %}



{% block body %}

<br>

<div class="fordashboardtop">
    <div class="fordashboardtopelements1">
        <a href="/admin"><button class="forbutton"> &nbsp;←&nbsp; </button></a>
        &nbsp; Welcome Admin,
    </div>
    <div class="fordashboardtopelements2">
        <a href="/signout"><button class="forbutton">Sign out</button></a>
    </div>

</div>
<br>
<div class="outerofdashdetails">

    <div class="fordashboarddetails">
        <br>

        <!-- table of customers complaints -->
        <table class="fortable">
            <thead>
                <th>Complaint ID</th>
                <th>Assigned Agent</th>
                <th>More Details</th>
            </thead>
            <tbody>
                {% for i in complaints %}
                <tr>
                    <td>{{ i['C_ID'] }}</td>
                    <td>
                        {{ i['ASSIGNED_AGENT'] }}
                    </td>
                    <td>
                        <div id="popup1/{{ i['C_ID'] }}" class="overlay">
                            <div class="popup">
                                <div style="text-align: left;">
                                    <h2>Complaint ID {{ i['C_ID'] }}</h2>
                                    <b> Username:</b> {{ i['USERNAME'] }} <br>
                                    <b> Title:</b> {{ i['TITLE'] }} <br>
                                    <b> Date of complaint:</b> {{ i['DATE_OF_COMPLAINT'] }} <br>
                                    <b> Date assigned: </b>{{ i['DATE_ASSIGNED'] }} <br>
                                    <b> Date completed:</b>{{ i['DATE_COMPLETED'] }} <br>
                                    <b> Description:</b> {{ i['COMPLAINT'] }} <br>
                                    <b> Solution:</b> {{ i['SOLUTION'] }} <br>
                                    <b> Status:</b> {% if i['STATUS'] == 1 %}
                                    Completed
                                    {% else %}
                                    Not Completed
                                    {% endif %} <br>
                                    <b> Screenshot: </b><br>
                                    <center>
                                        <div style="width: 60%;height:60%;">
                                            <img src="data:;base64,{{ i['NEWIMG'] }}" alt="No image provided"
                                                width="100%" />
                                        </div>
                                    </center>
                                </div>
                                <a class="close" href="#">×</a>
                                <div class="content">
                                    Thank to pop me out of that button, but now i'm done so you can close this window.

                                </div>
                            </div>
                        </div>
                        <div class="box">
                            <a class="button" href="#popup1/{{ i['C_ID'] }}">View</a>
                        </div>

                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>

        <br>
        <center>

            <div class="fordashboarddetails">

                <button type="button" class="collapsible">Assign an agent ⚡</button>
                <div class="content">
                    <br>
                    <form action="/assignagent" method="post">
                        <div class="forform">
                            <div class="textinformleft">
                                Complaint ID
                            </div>
                            <div class="textinformright">
                                <input class="textinformright" maxlength=6 type="name" name="ccid">
                            </div>
                        </div>
                        <div class="forform">
                            <div class="textinformleft">
                                <label for="agent">Choose an agent:</label>
                            </div>
                            <div class="textinformright">
                                <select name="agent" id="agent">
                                    {% for i in freeagents %}
                                    <option value={{ i['USERNAME'] }}>{{ i['USERNAME'] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <br>
                        <br>
                        <div>
                            <button class="forbutton" type="submit"> Submit </button>
                        </div>
                    </form>
                    <br>
                </div>


            </div>
        </center>
    </div>

</div>

{% endblock %}